<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Library Management System</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />

    <link rel="stylesheet"
          href="~/WebApp.styles.css"
          asp-append-version="true" />
</head>
<body>
    @{
        var role = Context.Session.GetString("Role");
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

                <a class="navbar-brand"
                   asp-controller="Dashboard"
                   asp-action="Index">
                    📚 LMS
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="navbarContent">

                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Dashboard"
                               asp-action="Index">
                                Dashboard
                            </a>
                        </li>

                       
                        @if (role == "Student")
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Books"
                                   asp-action="Index">
                                    Books
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Transactions"
                                   asp-action="MyBooks">
                                    My Books
                                </a>
                            </li>

                           
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Reservations"
                                   asp-action="MyReservations">
                                    Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Notifications"
                                   asp-action="Index">
                                    Notifications
                                </a>
                            </li>
                        }

                        @if (role == "Admin" || role == "Librarian")
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Users"
                                   asp-action="Index">
                                    Users
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Transactions"
                                   asp-action="Index">
                                    Transactions
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Transactions"
                                   asp-action="Issue">
                                    Issue Book
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Notifications"
                                   asp-action="Index">
                                    Notifications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Reports"
                                   asp-action="Index">
                                    Reports
                                </a>
                            </li>
                        }

                    </ul>

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <span class="navbar-text me-3">
                                @Context.Session.GetString("UserName")
                            </span>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-danger"
                               asp-controller="Auth"
                               asp-action="Logout">
                                Logout
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>
    </header>

    <div class="container mt-4">

        <main role="main">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted mt-5">

        <div class="container">
            © 2026 Library Management System
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"
            asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>